{% extends "index.html" %}
{% load staticfiles %}

{% block title %}Edit Field{% endblock %}

{% block script%}
<script type="text/javascript">
	function Autofill() {
		var current = document.getElementById("content_choice");
		document.getElementById("content_name").value = current.options[current.selectedIndex].getAttribute("data-content-name");
		document.getElementById("content_text").innerHTML = current.options[current.selectedIndex].getAttribute("data-content-text");
	}
</script>
{% endblock %}

{% block control %}
<form action="">
	Select field to edit<br>
	<select id="content_choice" oninput="Autofill()">
		{% for content in all_content|dictsort:"id" %}
			<option value="{{content.id}}" data-content-name="{{content.content_name}}" data-content-text="{{content.content_text}}">{{content.content_name}}</option>

		{% endfor %}
	</select>
	<br><br>
	{% with content=all_content|dictsort:"id" %}
	Content Name<br>
	<input type="text" id="content_name" name="content_name" value="{{content.0.content_name}}">
	<br><br>
	Content Text<br>
	<textarea id="content_text" name="content_text" rows="10" cols="30">{{content.0.content_text}}</textarea>
	{% endwith %}
	<br><br>
	<input type="submit" value="Add">
</form>
{% endblock %}