<html>
<head>
	<title>{% block title %}Database Test{% endblock %}</title>
	<style type="text/css">
		.control {
			width: 50%;
			background-color: #D0CCD0;
			font-family: Helvetica, Arial, sans-serif;
			height: 100%;
		}
		.control-inner {
			width: 100%;
			margin: 10px;
		}
		.block-outer {
			width: 100%;
			display: flex;
		}
		.content {
			width: 50%;
			background-color: #F0F0F0;
			font-family: Helvetica, Arial, sans-serif;
			height: 100%;
		}
		.content-inner {
			width: 100%;
			margin: 10px;
		}
	</style>
	<script type="text/javascript">
		function Update() {

		}
	</script>
	{% block script %}{% endblock %}
</head>
<body>
	<div class="block-outer">
		<div class="control">
			<div class="control-inner">
				{% block control %}
				<form action="" onsubmit="Update()">
					New Content to Add:
					<br><br>
					<textarea name="content" rows="10" cols="30"></textarea>
					<br><br>
					<input type="submit" value="Add">
				</form>
				{% endblock control%}
			</div>
		</div>
		<div class="content">
			<div class="content-inner">
				{% for content in all_content %}
					<p>{{content.content_text}}</p>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>